# Sublime
*.sublime-*

# OS X
.DS_Store

# IntelliJ
*.iml
.idea
.project

*node_modules*
*.tern-port
*.log
.tern-project
.tags

# Speculate
SPECS
SOURCES
*.service

#vscode
.vscode

dist
umd
coverage
target